html, body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* Toolbar */
.menu {
	background-color: transparent;
	border: none;
	height: 38px;
	margin: 16px;
	width: 36px;
}

md-toolbar h1 {
	margin: auto;
	
}

md-toolbar .title {
	background-color: #2477ab;
}

/* Sidenav */

md-list .md-button {
	color: inherit;
	font-weight: 500;
	text-align: left;
	width: 100%;
}

md-list .md-button.selected {
	color: #03a9f4;
}

md-sidenav md-list {
	padding: 0px 0px 8px 0px;
}

/* Content */

#content { 
	overflow: hidden;
}

#content {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
}

#content md-icon.avatar {
	margin.top: 10px;
}

.avatar {
	position: relative;
	width: 128px;
	height: 128px;
	border: 2px solid #ddd;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom: 0.50;
	transform: translateZ(0);
	-webkit-transform: scale(0.70);
	-moz-transform: scale(0.70);
}

.logo  {
	position: relative;
	width: 128px;
	height: 128px;
	border: 5px solid #ddd;
	border-radius: 20%;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom: 0.50;
	transform: translateZ(0);
	-webkit-transform: scale(0.70);
	-moz-transform: scale(0.70);
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

.contentTitle {
    background-color: transparent;
}
