<div layout="column" layout-align="center center" md-theme="delete">
  <md-toolbar class="deleteToolbar">
    <div class="md-toolbar-tools">
      <md-icon md-svg-src="images/alert.svg"></md-icon>
      <h2>Delete {{ resource.name }}</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  
  <md-dialog-content layout-padding>
  <div ng-class="md-dialog-content">
    <p>
      Are you sure you <br>
      want to delete {{ element.name }}?
    </p>
  </div>

  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus class="md-primary" ng-click="cancel()">
      No
    </md-button>
    <span flex></span>
    <md-button md-autofocus class="md-primary" ng-click="del()">
      Yes
    </md-button>
  </div>
  </md-content>
</div>
