<div layout="column" layout-align="center center">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Delete {{ resource.name }}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>  
  <div ng-class="md-dialog-content">
    <p>
      Del: {{ element.name }}
    </p>
  </div>

  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus class="md-primary" ng-click="cancel()">
      No
    </md-button>
    
    <md-button md-autofocus class="md-primary" ng-click="del()">
      Yes
    </md-button>
  </div>
  </md-content>
</div>
