<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<%include ../partials/header.ejs%>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src = "node_modules/angular/angular.min.js"></script>
	<script src = "node_modules/angular-animate/angular-animate.js"></script>
	<script src = "node_modules/angular-aria/angular-aria.min.js"></script>
	<script src = "node_modules/angular-material/angular-material.min.js"></script>
    
    <script src = "src/MyApp.js"></script>
	<script src = "src/AppController.js"></script>
    <script src = "src/SidenavController.js"></script>
    <script src = "src/AddElementController.js"></script>
	
</head>

<body ng-app="MyApp">
<div ng-controller="AppController as AppCtrl" layout="column" layout-fill ng-cloak>
<section layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
        md-disable-backdrop md-whiteframe="4" >

        <md-toolbar class="title" layout="column" layout-align="top center" style="padding-bottom: 30px">
            <md-icon md-svg-src="images/logo.svg" class="logo"></md-icon>
            <span class="title">Jobify Shared Server</span>
        </md-toolbar>
        
        <md-list flex>
            <md-list-item ng-repeat="resource in AppCtrl.resources">
                <md-button ng-click="AppCtrl.selectResource(resource)">
                    <md-icon md-svg-src="{{resource.image}}" class="avatar"></md-icon>
                    {{resource.name}}
                </md-button>
            </md-list-item>
        </md-list>
        
        <div layout="column" ng-cloak>
            <md-button ng-click="toggleLeft()" class="md-accent">
            Close this Sidenav
            </md-button>
        </div>

    </md-sidenav>
    
    <div layout="column" flex>
        <div class="contentTitle" layout="row">
            <md-toolbar layout="row" layout-align="center center">
                <md-button ng-click="toggleLeft()" class="md-fab md-primary" ng-hide="isSidenavOpen" aria-label="Menu">
                    <md-icon md-svg-src="images/menu.svg"></md-icon>
                </md-button>
                <span flex="5"></span>
                <h2>{{ AppCtrl.activeResource.name }}</h2> <md-icon md-svg-src="{{ AppCtrl.activeResource.image }}" class="avatar" ng-hide="AppCtrl.hideContent"></md-icon>
                <span flex></span>
                <div ng-hide="AppCtrl.hideContent">
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="AppCtrl.listAll()">
                        List All
                    </md-button>
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="AppCtrl.toggleSearch()" ng-hide="AppCtrl.activeResource.name == 'Categories'">
                        Search
                    </md-button>
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="AppCtrl.clearElements()">
                        Clear
                    </md-button>
                </div>
                <div ng-controller="AddElementController as addCtrl" ng-hide="AppCtrl.hideContent">
                    <md-button class="md-fab md-primary md-mini" aria-label="Add Element" ng-click="showAdvanced($event, AppCtrl.activeResource)">
                        <md-tooltip md-direction="bottom">Add Element</md-tooltip>
                        <md-icon md-svg-src="images/add.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
        
        <div layout="row" layout-padding ng-show="AppCtrl.activeSearch">
            <md-chips
            ng-model="AppCtrl.categoriesSearch"
            name="categorySearch"
            md-autocomplete-snap
            md-require-match="true"
            md-max-chips="5"
            flex>
                <md-autocomplete
                    md-selected-item="AppCtrl.selectedItemSearch"
                    md-search-text="AppCtrl.searchText"
                    md-items="item in AppCtrl.queryCategorySearch(AppCtrl.searchText)"
                    md-item-text="item.name"
                    placeholder="Search for a category">
                    <span md-highlight-text="AppCtrl.searchText"> {{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                    <strong>{{$chip.name}}</strong>
                    </span>
                </md-chip-template>
            </md-chips>
            <md-button class="md-fab md-primary md-mini" aria-label="Search">
                <md-tooltip md-direction="bottom">Search</md-tooltip>
                <md-icon md-svg-src="images/search.svg" ng-click="AppCtrl.findByCategories()"></md-icon>
             </md-button>
        </div>

        <md-content layout="row" layout-wrap ng-cloak>
            
            <md-card ng-repeat="element in AppCtrl.elements" layout="row" style="height: 170px; width:300px" md-whiteframe="2">
                <div layout="row" layout-align="start center">
                    <md-card-title flex="75">
                        <md-card-title-text>
                            <span class="card-headline">{{ element.name|limitTo:15 }} {{(element.name.length>15) ? "..." : "" }}</span>
                            <span class="md-subhead">{{ element.category|limitTo:20 }} {{(element.category.length>20) ? "..." : "" }}</span>
                            <span class="card-description">{{ (element.description|limitTo:20)}}{{(element.description.length>20) ? "..." : "" }}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <md-icon md-svg-src="{{AppCtrl.activeResource.image}}" class="cardImage"></md-icon>
                            </div>
                        </md-card-title-media>
                    </md-card-title>

                    <span flex></span>
                    
                    <md-card-content layout="row" flex="25">
                        <span flex></span>
                        <md-card-actions layout="column" layout-align="end start">
                            <md-button class="md-icon-button" ng-click="showDelDialog($event,AppCtrl.activeResource,element)" aria-label="Delete">
                                <md-icon md-svg-src="images/cancel.svg" ></md-icon>
                                <md-tooltip md-direction="bottom">Delete</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Edit" ng-click="showModifyDialog($event,AppCtrl.activeResource,element)">
                                <md-icon md-svg-icon="images/edit.svg"></md-icon>
                                <md-tooltip md-direction="bottom">Edit</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="More" ng-click="showMoreDialog($event,AppCtrl.activeResource,element)">
                                <md-icon md-svg-icon="images/more.svg"></md-icon>
                                <md-tooltip md-direction="bottom">Show More</md-tooltip>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </div>
            </md-card>
            
        </md-content>
        
        
    </div>
    

    
    
</section>
</div>
</body>

</html>
