<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<%include ../partials/header.ejs%>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src = "node_modules/angular/angular.min.js"></script>
	<script src = "node_modules/angular-animate/angular-animate.js"></script>
	<script src = "node_modules/angular-aria/angular-aria.min.js"></script>
	<script src = "node_modules/angular-material/angular-material.min.js"></script>
	<script src = "src/JobPositions.js"> </script>
	
</head>

<body ng-app="MyApp" layout="column">
    
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-icon md-svg-src="images/logo.svg" class="logo"></md-icon>
			<span>Jobify Shared Server</span>
			<span flex></span>
		</div>
	</md-toolbar>
	
    
	<div class="container" ng-controller="AppController as app" layout="row" flex>
        
        <div ng-controller="SidenavController as sidenavCtrl">
            <md-button ng-click="sidenavCtrl.toggleSidenav()">A</md-button>
            <md-sidenav md-is-locked-open="sidenavCtrl.sidenavView" class="md-whiteframe-5dp" flex>
                <md-list>
                    <md-list-item ng-repeat="r in app.resources">
                        <md-button ng-click="app.selectTab(r.num)">
                            <md-icon md-svg-src="{{r.image}}" class="avatar"></md-icon>
                            {{r.name}}
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-sidenav>
        </div>
        
		<md-content id="content" flex>
			
            <div class="contentTitle" layout="row">
                <md-icon md-svg-src="{{ app.activeResource.image }}" class="avatar"></md-icon>
                <h2>{{ app.activeResource.name }}</h2>
                <span flex></span>
                <div>
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="app.listAll()">
                        List All
                    </md-button>
                </div>
                <div>
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="app.search()">
                        Search
                    </md-button>
                </div>
                <div>
                    <md-button class="md-primary md-raised md-mini" aria-label="Use Android" ng-click="app.clearElements()">
                        Clear
                    </md-button>
                </div>
                <div ng-controller="AddElementController as addCtrl" >
                    <md-button class="md-fab md-primary md-mini" aria-label="Use Android" ng-click="showAdvanced($event,app.activeResource)">
                        <md-icon md-svg-src="images/add.svg"></md-icon>
                    </md-button>
                </div>
			</div>
            
			<md-divider></md-divider>
            
			<md-content layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 150px;" ng-cloak>
                
                <md-card ng-repeat="element in app.elements" layout-align="center center">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{element.name|limitTo:20}}</span>
                            <span class="md-subhead">{{element.category|limitTo:20}}</span>
                            <p>{{(element.description|limitTo:20) + "..."}}</p>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <md-icon md-svg-src="{{app.activeResource.image}}" class="cardImage"></md-icon>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center" ng-controller="DelElementController as delCtrl">
                        <md-button  class="md-primary md-raised" ng-click="showAdvanced($event,app.activeResource,app.elements[0]   )">
                            Eliminar
                        </md-button>
                        <md-button class="md-primary md-raised">
                            Modificar
                        </md-button>
                    </md-card-actions>
                </md-card>
                
			</md-content>
            
            <md-divider></md-divider>
            
		</md-content>
        
	</div>
    
    <span flex="5"></span>

	<script>
		angular.module('MyApp',['ngMaterial','main']).run(function(){
			console.log("MyApp is ready!");
		});
	</script>
    
</body>

</html>
