<!DOCTYPE html>
<html>
<head>
	<%include ../partials/header.ejs%>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src = "node_modules/angular/angular.min.js"></script>
	<script src = "node_modules/angular-animate/angular-animate.js"></script>
	<script src = "node_modules/angular-aria/angular-aria.min.js"></script>
	<script src = "node_modules/angular-material/angular-material.min.js"></script>
	
</head>

<body ng-app="MyApp" layout="column">
	<md-toolbar>
		<h1>Aguante NV!</h1>
	</md-toolbar>
	
	<div  class="container" layout="row" flex>
		<md-sidenav md-is-locked-open="true" class="md-whiteframe-5dp">
			<md-list>
				<md-list-item>
					<md-button>
						<md-icon md-svg-src="images/group.svg" class="avatar"></md-icon>
						Fechi gato
					</md-button>
				</md-list-item>
				<md-list-item>
					<md-button>
						<md-icon md-svg-src="images/suitcase.svg" class="avatar"></md-icon>
						
					</md-button>
				</md-list-item>
				<md-list-item>
					<md-button>
						<md-icon md-svg-src="images/hierarchy.svg" class="avatar"></md-icon>
						
					</md-button>
				</md-list-item>
			<md-list>
		</md-sidenav>
		<md-content id="content" flex>
			<md-icon md-svg-src="images/group.svg" class="avatar"></md-icon>
			<h2>Aca Fotos</h2>
			<p>
				cosas copadas que hace nv
			</p>
		</md-content>
	</div>

	<script>
		angular.module('MyApp',['ngMaterial']).run(function(){
			console.log("MyApp is ready!");
		});
	</script>
</body>
</html>
